@-moz-document url-prefix("https://ke.qq.com/webcourse/") {
* {
    -webkit-font-smoothing: antialiased;
}
.web {
    background:url(https://i.loli.net/2020/04/28/8bckZ2O3dT1Xqu5.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}
body, body #react-body, html, html #react-body {
    background-color:transparent;
}
.video-mask {
    background-color: rgba(0, 0, 0, 0);
}
.study-header {
    background: rgba(0, 0, 0, .7);
}
.playlist {
    background-color: rgba(0, 0, 0, .7);
}
.download-ctn {
    background:rgba(0, 0, 0, .3)
}
.download-ctn:hover {
    background:rgba(0, 0, 0, .5)
}
}

@-moz-document url-prefix("https://ke.qq.com/webcourse/") {
.video-cont, .video-js {
    background-color:transparent;
}
.video-cont .video-controls {
    background: rgba(0, 0, 0, .2);
}
.video-cont .video-controls:hover {
    background: rgba(0, 0, 0, .5);
}
.debug-box {
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 5px;
}
.marquee {
    display:none;
}
/*音量条*/
 .range-wrap .bg-layer {
    background: rgba(0, 0, 0, .7);
    border-radius: 20px;
}
.range-wrap .range-slider {
    background-color: rgba(255, 255, 255, .3);
    background-image: linear-gradient(#66ccff, #66ccff);
    height: 3px;
}
.range-wrap .bg-layer:after {
    display: none;
}
/*播放器全屏*/
 .video-cont .main-video {
    height: 100%;
}
}

@-moz-document url-prefix("https://ke.qq.com/webcourse/") {
/*腾讯课堂提示*/
 .platform-msg-ctn {
    text-align: center;
    background: rgba(255, 255, 255, .2);
}
.platform-msg-title {
    background-color:transparent;
    font-size:20px
}
/*新消息栏*/
 .chat-list-notice {
    background-color:rgba(255, 255, 255, .7);
}
/*去除边框*/
 #react-body.web .chat-ctn .im-tab-hd--bottom {
    border-bottom: inherit;
}
/*清除聊天栏背景*/
 #react-body.web .chat-ctn .app-main, #react-body.web .chat-ctn .im-tab-hd, #react-body.web .chat-ctn .text-editor, #react-body.web .chat-ctn .text-editor-toolbar {
    background: transparent;
}
/*重新设置聊天栏背景*/
 .chat-ctn {
    background: rgba(0, 0, 0, .5);
}
/*刷新按钮背景*/
 #react-body.web .chat-ctn .member-refresh-btn {
    background: rgba(0, 0, 0, .2);
}
/*消除输入栏和消息栏分割线*/
 #react-body.web .chat-ctn .text-editor {
    border-top:none
}
/*献花*/
 #react-body.web .chat-ctn .chat-item-sys, #react-body.web .chat-ctn .msg-system-ctn {
    background: rgba(255, 255, 255, .2);
    text-shadow:0px 2px 6px #000;
    color:#fff;
}
/*名字*/
 .chat-wrap .member-item-nickname, .member-item-content {
    color: #fff;
}
/*姓名显示栏背景*/
 .chat-wrap .member-item-inner {
    background:rgba(255, 255, 255, .3);
    border: none;
    border-radius: 5px;
    padding:1px;
}
/*发言文字栏*/
 .chat-item-msg-content {
    text-decoration: underline;
    font-style:italic;
    font-weight:900;
    font-size:15px;
    color:#fff;
}
/*输入栏文字*/
 .text-editor .ql-editor {
    color: #fff;
}
.ql-editor p {
    background-color:rgba(255, 255, 255, .3);
    float:left;
}
/*下一页按钮*/
 #react-body.web .chat-ctn .member-list-pager {
    background-color: rgba(0, 0, 0, 0);
}
.member-list-pager {
    background-color: rgba(0, 0, 0, 0);
}
}

@-moz-document url-prefix("https://ke.qq.com/webcourse/") {
/*滚动条*/
 #react-body.web .chat-ctn .chat-wrap ::-webkit-scrollbar, #react-body.web .chat-ctn .chat-wrap ::-webkit-scrollbar-track, #react-body.web ::-webkit-scrollbar, #react-body.web ::-webkit-scrollbar:hover, .playlist ::-webkit-scrollbar-track {
    background-color:rgba(0, 0, 0, 0);
    border-right: inherit;
}
}

@-moz-document url-prefix("https://ke.qq.com/webcourse/") {
.playlist .container ul.chapters li.fast .sub-title {
    color: #fff;
    font-weight:1000;
    font-size:15px;
}
.playlist .container .task-item.fast.active .task-item--type {
    color: #fff;
}
.playlist .container .task-item.fast.active .task-item--suffix, .playlist .container .task-item.fast.active .task-item--text, .playlist .container .task-item.fast:hover .task-item--suffix, .playlist .container .task-item.fast:hover .task-item--text {
    font-weight:550;
}
.playlist .container .task-item.fast .task-item--text {
    color: rgba(255, 255, 255, .9);
}
.playlist .container .task-item.fast .task-item--suffix {
    color:rgba(255, 255, 255, .5);
}
}

@-moz-document url-prefix("https://ke.qq.com/webcourse/") {
.header-item.profile ul.profile-menu, .header-item.etc ul.etc-menu {
    top: 60px;
    border: 0;
    background-color: rgba(0, 0, 0, .5);
}
.header-item.profile ul.profile-menu:before, .header-item.etc ul.etc-menu:before {
    border: 0;
    background: transparent;
}
.header-item.profile ul.profile-menu {
    border-radius:0 0 0 1.5em;
}
.header-item.etc ul.etc-menu {
    border-radius:0 0 1.5em 1.5em;
}
}
